.custom-button {
  cursor: pointer;
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
}

.custom-button:active:hover,
.custom-button:active:focus {
  animation: none;
  transform: scale(var(--btn-focus-scale, 0.95));
}
.custom-button:active:hover,
.custom-button:active:focus {
  animation: none;
  transform: scale(var(--btn-focus-scale, 0.95));
}
.custom-button:hover,
.btn-active {
  --tw-border-opacity: 1;
  border-color: hsl(var(--nf, var(--n)) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--nf, var(--n)) / var(--tw-bg-opacity));
}
